.tabs {
    display: flex;
}

.ingredients {
    width: 600px;
    height: 726px;
    overflow-y: scroll;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.ingredient {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    margin: 0;
    list-style: none;
}